<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:component-scan base-package="rs.slavko.tutorials.jpa.messenger.resources" />
	<!--context:annotation-config></context:annotation-config-->
	<bean id="ticketService"
		class="rs.slavko.tutorials.jpa.services.authentication.ticket.TicketService">
		<property name="ticketCash" ref="ticketCash"></property></bean>
	<bean id="ticketCash"
		class="rs.slavko.tutorials.jpa.services.authentication.ticket.InMemoryTicketCash">		
	</bean>
	<bean id="authenticationService"
		class="rs.slavko.tutorials.jpa.services.authentication.AuthenticationServiceImpl">
		<property name="ticketService" ref="ticketService"></property>				
	</bean>
</beans>
